.toplevel_page_padjast_seo #submit {
    background-color: #6eb73f !important;
    color: white !important;
    border-radius: 20px !important;
    border: none;
    padding: 12px 47px;
}

.toplevel_page_padjast_seo .form-table{
    input , textarea{
    background-color: #efefef61 !important;
    color: #797979 !important;
    border: 2px solid #fff !important;
    padding: 10px !important;
    border-radius: 10px !important;
}

th {
    color: #6eb73f !important;
    padding: 10px 10px 10px 0 !important;
    border-right: 5px solid #dc912e;
    font-weight: bold !important;
}
}